/*Header at top*/
header{
    height: 150px; /*Height set to this value so header isint too big*/
    padding-top: 10px ;
    position: relative;
    top: 0;
    background-color: #007aff;
    width: 100%;
    font-size: 50px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    color: #ffcc00;
}

h1{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/*Layout of navigation bar in header.*/
nav li{
    color: white;
    font-size: 30px;
    display: inline;
    padding: 15px;
}

/*Make the clickable links white and not change color when they are clicked*/
nav a {
    color: white;
    text-decoration: none;
}

/*Added so header dosent overlap with the title of the table*/
/*Padding and margin left are set to 0 to remove default margin in body which prevents header from taking full width of page. */
body{
    text-align: center;
    margin-top: 0px;
    padding: 0;
    margin-left: 0;
    margin-bottom: 150px; /* So footer dosent overlap with practice time.*/
    background-color: #cfe4fa;
   }

/*Footer code at the bottom of the page*/

footer{
    background-color: #007aff;
    color: white;
    text-align: center;
    padding: 20px;
    position: relative;
    bottom: 0;
    width: 100%;
    height: 80px;
    font-size: 19px;
 }
 footer ul{
    list-style: none;
 }
 
 #contact-us{
     color: #ffcc00;
 }