.center{
    margin-left: auto;
    margin-right: auto;
}

table{
    table-layout: fixed;
    border-collapse: collapse;
    border: 2px solid black;
    width: 80%;
}

td{
    padding: 10px;
    text-align: center;
    border: 1px solid black;
}

th{
    border: 1px solid black;
    border-bottom: 2px solid black;
}

.bluecell{
    background-color: #007aff;
}